<p>Proteína, Glutamina y BCAA´s: Se puede estar tomando estos complementos de forma constante pero es importante seguir manteniendo el entrenamiento<br>
		Creatina: Se recomienda tomarse durante 3 meses y mínimo descansar 1 mes.<br>
		Complejo Multivitamínico: Se recomienda tomarse durante 2 meses y mínimo descansar 1 mes.<br>
		Óxido Nítrico: Se recomienda tomarse durante 3 meses y descansar 2 meses. Tomar antioxidantes ya sea de los propios alimentos o de forma en suplemento para contrarestar la aparición de radicales libres.<br>
		Termogénicos: Principalmente se debe tomar entre 1 mes por 15 días de descanso.<br>
		L-Carnitina: Su descanso es por 1 mes, aunque puede estarse tomando durante 2 meses.<br>
		Tribulus: Se recomienda tomarse durante 3 meses y mínimo descansar 4 mes.<br>
		</p>